$color1: #ffffff;
$color1A: #ececec;
$color1B: #f9f9f9;
$color2: #555555;
$color3: #777777;
$color4: #222222;
$color5: rgba(204,204,204,1);
$color6: #7cc576;
$color7: rgba(34,34,34,1);
$color8: #e9e9e9;
$color9: rgba(0,0,0,1);
$color9A: rgba(0,0,0,0.7);
$colorA: #cccccc;
$colorH: transparent;
$colorGoogle: #DA2713;
$colorPinterest: #CB2028;
$colorFacebook: #3B5998;
$colorTwiter: #00ACED;
